body {
    background-image: url('https://cdn.discordapp.com/attachments/1327498057465462786/1327499051217846322/IMG_7089.jpg?ex=67834955&is=6781f7d5&hm=6d5bf89cc96bc7cf8095536e3f750c8910c9bf14dbe724f995cd55dd1be1c758&');
    background-color:#221155;
    }
	.small {line-height:15px}
	mark { 
  background-color:#fff9;
  color: #70f;
}
    div {
     background-color:#fff9;
     color: black;
     width: 75%;
     height: auto;
     padding: 20px;
     border: 5px solid black;
     margin: auto;
}
    img{
        display: block;
        width: auto;
        height: auto;
        max-width: 50%;
        max-height: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    a {
     color: #fe0;
}